@import "../../colours.scss";

.strip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.strip-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  &__id {
    &--blue {
      color: darken($blue, 50%);
      background: $blue;
      padding: 30px;
      border-radius: 50%;
    }

    &--red {
      color: darken($red, 50%);
      background: $red;
      padding: 30px;
      border-radius: 50%;
    }
  }

  h2 {
    text-transform: uppercase;
  }
}
