@import "../../colours.scss";
.play {
  display: flex;
  flex-direction: column;
}

.play h3 {
  margin: 30px;
}

.play input {
  margin: 30px;
  height: 60px;
  font-size: 2em;
  text-align: center;
}

.play button {
  background: $green;
  margin: 0 30px;
  border: none;
  color: black;
  padding: 30px;
  cursor: pointer;
  font-size: 2em;
}

.play button:disabled {
  background: lightgrey;
  color: white;
}
