@import "../../colours.scss";
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__title {
  font-size: 4em;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.home__title--first {
  animation-name: backgroundColorPalette;
}

.home__title--second {
  animation-name: backgroundColorPalette2;
}
.home__title--thrid {
  animation-name: backgroundColorPalette3;
}
.home__title--forth {
  animation-name: backgroundColorPalette4;
}
.home__title--fifth {
  animation-name: backgroundColorPalette5;
}

@keyframes backgroundColorPalette {
  0% {
    color: $red; /* 1 */
  }
  25% {
    color: $yellow; /* 2*/
  }
  50% {
    color: $green; /* 3 */
  }
  75% {
    color: $lightblue; /* 4 */
  }
  100% {
    color: $blue; /* 5 */
  }
}

@keyframes backgroundColorPalette2 {
  0% {
    color: $blue; /* 5 */
  }
  25% {
    color: $red; /* 1 */
  }
  50% {
    color: $yellow; /* 2*/
  }
  75% {
    color: $green; /* 3 */
  }
  100% {
    color: $lightblue; /* 4 */
  }
}
@keyframes backgroundColorPalette3 {
  0% {
    color: $lightblue; /* 4 */
  }
  25% {
    color: $blue; /* 5 */
  }
  50% {
    color: $red; /* 1 */
  }
  75% {
    color: $yellow; /* 2*/
  }
  100% {
    color: $green; /* 3 */
  }
}
@keyframes backgroundColorPalette4 {
  0% {
    color: $green; /* 3 */
  }
  25% {
    color: $lightblue; /* 4 */
  }
  50% {
    color: $blue; /* 5 */
  }
  75% {
    color: $red; /* 1 */
  }
  100% {
    color: $yellow; /* 2*/
  }
}
@keyframes backgroundColorPalette5 {
  0% {
    color: $yellow; /* 2*/
  }
  25% {
    color: $green; /* 3 */
  }
  50% {
    color: $lightblue; /* 4 */
  }
  75% {
    color: $blue; /* 5 */
  }
  100% {
    color: $red; /* 1 */
  }
}
